@{
    ViewData["Title"] = "Principal";
}

@if (ViewBag.NomeProfessor == null)
{
    <a asp-controller="Login">
        Login
    </a>
}
else
{
    <main class="d-flex flex-column">

        @* cadastrar turma *@
        <button class="align-self-end mt-5 btn border-2 btn-outline-primary" data-bs-toggle="modal" data-bs-target="#cadastrarTurma">Cadastrar Turma</button>

        @* título *@
        <h2 class="my-5">Sua lista de turmas</h2>

        @* tabela *@
        <table class="table">
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Nome da Turma</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @* a model é o que eu passei como parâmetro para a view *@
                @foreach (var turma in Model)
                {
                    <tr>
                        <td>@turma.TurmaId</td>
                        <td>@turma.Nome</td>
                        <td class="d-flex gap-2">
                            <div style="display: flex">
                                <form asp-controller="Professor" asp-action="ExcluirTurma" method="post" onsubmit="return confirm('Você tem certeza que deseja excluir esta turma?')">
                                    <input type="hidden" name="turmaId" value="@turma.TurmaId" />
                                    <button class="btn border-bottom border-1 border-danger text-danger type="submit">Excluir</button>
                                </form>
                            </div>
                            <div style="display: flex">
                                <form asp-controller="Atividade" asp-action="Index" asp-route-turmaId="@turma.TurmaId">
                                    <input type="hidden" name="turmaId" value="@turma.TurmaId" />
                                    <button class="btn" type="submit">Visualizar</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (TempData["Mensagem"] != null)
        {
            <p style="color: red">@TempData["Mensagem"]</p>
        }

        @* código do modal *@
        <div class="modal" tabindex="-1" id="cadastrarTurma">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Cadastrar Turma</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form asp-controller="Professor" asp-action="CadastrarTurma">
                        <div class="modal-body">
                            <label class="form-label" for="nomeTurma">Nome da Turma</label>
                            <input class="form-control" type="text" name="nomeTurma" required />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
}